@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    background-color: #040023;

}

/* ///-----------Contact section inputs------------------/// */

/* .prizes{
    background-image: url(./assets/Group5.png);
    background-position: center;
    background-repeat: no-repeat;
    
} */
.inner{
    box-shadow: 0 -10px 20px -5px rgba(255, 251, 39, 0.75),
                10px 0 20px -5px rgba(255, 251, 39, 0.75);
}


.glow {
    filter: drop-shadow(0 0 2px #12E7D3); 
    transition: filter 0.3s ease-in-out; 
  }


  .glow:hover {
    filter: drop-shadow(0 0 45px #12E7D3); 
  }
.prizes{
  background-image: url(./assets/pbg.png);
  background-position: center;
  background-repeat: no-repeat;
}