@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    background-color: #040023;
}

/* ///-----------Contact section inputs------------------/// */

/* .prizes{
    background-image: url(./assets/Group5.png);
    background-position: center;
    background-repeat: no-repeat;
    
} */

@keyframes glowAnimation {
  0% {
    filter: drop-shadow(0 0 12px #12E7D3);
  }
  100% {
    filter: drop-shadow(0 0 55px #12E7D3);
  }
}

.glow {
  animation: glowAnimation 0.3s infinite alternate;
}


.inner{
    box-shadow: 0 -10px 20px -5px rgba(255, 251, 39, 0.75),
                10px 0 20px -5px rgba(255, 251, 39, 0.75);
}






 
.prizes{
  background-image: url(./assets/pbg.png);
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.shadoww{
  
    box-shadow: inset 2px 2px 2px #7e7e7e;
  
}
.heading{
  
    text-shadow: 2px 3px 0px #707070;
  
}